<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.kieracoupet.instant">
    <dist:module
            dist:onDemand="false"
            dist:instant="true"
            dist:title="@string/title_instant">
        <dist:fusing dist:include="false"/>
    </dist:module>
</manifest>

